@import '../../../styles/variables.scss';

.sbbutton{
    border-radius: 999px;
    font-weight: 600;
    color: white;
    margin: 0;
    padding: 0.5em 2em;
    border: none;
    display: flex;
    align-items: center;
    span{
        margin-left: 10px;
    }
    
    &__primary{
        background-color: $primary-color;
        span{
            color: white;
        }
        &:hover{
            background-color: $secondary-color;
            border-color:none;
        }
        &:active{
            background-color: $dark-color;
        }
    }
    &__secondary{
        background-color: transparent;
        border: 1px solid $light-color;
        color: black;
        span{
            color: black;
        }
        &:hover{
            background-color: transparent;
            border: 1px solid black;
        }
        &:active{
            border: 1px solid black;
            background-color: $light-color;
        }
    }
    &__SM{
        font-size: 10px;
    }
    &__MD{
        font-size: 11px;
    }
    &__LG{
        font-size: 12px;
    }
    &__XLG{
        font-size: 14px;
    }

}